<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Meadowlark Travel</title>
</head>
<body>
    <header><img src="/img/rose_radar.png" alt="Logo"></header>

    {{{body}}}

</body>
</html>
